# Python-related
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Virtual environments
venv/
env/
.venv/

# IDE and editor settings
.vscode/
.ipynb_checkpoints/

# Model training outputs and weights
runs/
*.pt
report/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini