# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore entire dataset or heavy folder
steel-pipe-weld-defect-detection/

# Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.log

# VSCode / PyCharm / other IDE configs
.vscode/
.idea/

# OS-specific junk
.DS_Store
Thumbs.db
desktop.ini

# Branch data
report/